* {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;  
    /* font-weight: 500;  */
}
html {
    scroll-behavior: smooth;
}

.top {
    width: 100%;
    background-color: #FFF;
    padding: 10px 0px;
    box-shadow: 0 2px 4px #000;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.container {
    margin: 0px 140px;
}
.top .element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top .element .logo {
    width: 200px;
    height: 40px;
}
.top .element .nav ul {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    list-style: none;
}
.top .element .nav ul li {
    margin: 0px 20px;
}
.top .element .nav ul li a {
    text-decoration: none;
    color: #374151;
    text-transform: capitalize;
    font-weight: 500;
}
.top .element .nav ul li a:hover {
    color: #16a34a;
}
.top .element .but i {
    margin-right: 10px;
    padding: 10px;
    color: #000000bd;
    border-radius: 10px;
}
.top .element .but i:hover {
    background-color: #f5f5f5;
    color: #000;
}
.top .element .but a{
    color: #fff;
    background-color: #16a34a;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 10px;
    transition: .3s ease-in;
}
.top .element .but a:hover {
    background-color: #15803d;
}
.top .element #toggle {
    display: none;
    background-color: #888;
    padding: 10px;
}
/* bg section */
.bg {
    width: 100%;
    height: 100vh;
    background: url(../images/background.jpg);
    position: relative;
}
.bg .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111827;
    opacity: 0.8;
}
.bg .text {
    position: absolute;
    width: 70%;
    padding: 100px 0px;
    height: 100%;
    color: #fff;
    /* margin-top: 100px; */
}
.bg .text h1 {
    text-transform: capitalize;
    /* font-size: 70px; */
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bolder;
} 
.bg .text span {
    color: #16a34a;
}
.bg .text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.bg .text .opt button {
    padding: 10px 25px;
    text-transform: capitalize;
    font-size: 14px;
    background-color: #f5f5f593;
    color: #FFF;
    outline: none;
    margin-right: 5px;
    border: none;
    opacity: 0.8;
    border-radius: 10px 10px 0px 0px;
    transition: .2s ease-in;
}
.bg .text .opt #buy {
    background-color: #16a34a;
}
.bg .text .opt button:hover {
    background-color: #f5f5f5af;
}
.bg .text form {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px 10px 10px 10px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg .text form i {
    color: #16a34a;
}
.bg .text form label {
    text-transform: capitalize;
}
.bg .text form select {
    padding: 10px;
    outline: none;
    margin-top: 10px;
    border: 1px solid #0000003b;
    border-radius: 10px;
}
.bg .text form #search {
    background-color: #16a34a;
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
    transition: .3s ease-in;
}
.bg .text form #search i {
    color: #fff;
}
.bg .text form #search:hover {
    background-color: #15803d;
}
.bg .text .stat {
    display: flex;
    margin-top: 50px;
}
.bg .text .stat .num {
    margin-right: 30px;
}
.bg .text .stat .num h2 {
    font-size: 30px;
}
.bg .text .stat .num p {
    font-size: 14px;
    color: #9ca3af;
    text-transform: capitalize;
}
/* statistic section */
.st {
    width: 100%;
    padding: 50px 0px;
}
.st .element {
    display: flex;
    justify-content: space-around;
}
.st .element .num {
    text-align: center;
}
.st .element h2 {
    color: #16a34a;
    font-weight: bolder;
    font-size: 40px;
}
.st .element p {
    color: #4b5563;
    font-size: 14px;
    text-transform: capitalize;
}
/* properties */
.prop {
    width: 100%;
    padding: 100px 0px;
}
.prop .element {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 2fr));
}
.prop .element .card {
    width: 100%;
    /* height: 500px; */
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: 2px 2px 5px #6b7280;
    margin: 0px auto;
    margin-bottom: 10px;
    transition: .3s ease-in;
}
.prop .element .card a {
    text-decoration: none;
    color: #6b7280;
}
.prop .element .card .pics {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    transition: .3s ease-in;
}
.prop .element .card .pics img {
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    transition: .4s ease-in;
}
.prop .overlay {
    background-color: #111827;
    width: inherit;
    height: inherit;
    opacity: 0.5;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
}
.prop .card .sale {
    position: absolute;
    height: inherit;
    justify-content: space-between;
    top: 10px;
    margin-left: 10px;
}
.prop .card .sale span {
    background-color: #16a34a;
    color: #fff;
    padding: 3px 10px;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 10px;
    margin-right: 10px;
}
.prop .card .sale #new {
    background-color: #111827;
    color: #FFF;
    /* display: none; */
}
.prop .card .sale p {
    background-color: #f5f5f5;
    color: #111827;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 10px;
    bottom: 30px;
    position: absolute;
}
.prop .element .card .details {
    padding: 20px;
    color: #6b7280;
    width: 100%;
    box-sizing: border-box;
}
.prop .element .card .details h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #000;
}
.prop .element .card .details .ft {
    border-top: 1px solid #6b7280;
    padding: 10px 0px;
    margin-top: 10px;
    width: 92%;
}
.prop .element .card .details .partner {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-transform: capitalize;
    border-top: 1px solid #6b7280;
    width: 92%;
    padding: 10px 0px;
}
.prop .element .card .details .partner img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.prop .element .card .details .partner .name h4 {
    color: #111827;
}
.prop .element .card .details .ft span {
    margin-right: 10px;
}
.prop .element .abc a {
    display: flex;
}
.prop .element .abc .pics {
    height: 500px;
    border-radius: 10px 0px 0px 10px;
}
.prop .element .abc .pics img {
    border-radius: 10px 0px 0px 10px;
}
.prop .element .card:hover .pics img {
    transform: scale(1.1);
}
.prop .element .card:hover h3 {
    color: #16a34a;
}
.prop .element .card:hover {
    box-shadow: 5px 5px 10px #111827;
}
/* offer */
.offers {
    width: 100%;
    padding: 100px 0px;
    background-color: #F9fafb;
}
.heading {
    text-align: center;
    color: #4b5563;
    margin-bottom: 40px;
}
.heading h1 {
    text-transform: capitalize;
    color: #111827;
}
.offers .element {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.offers .element .card {
    min-width: 300px;
    padding: 15px;
    text-align: center;
    color: #4b5563;
}
.offers .element .card i {
    color: #16a34a;
    background-color: #dcfce7;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
}
.offers .element .card h3 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 10px auto;
}
.agents {
    width: 100%;
    padding: 100px 0px;
    background-color: #F9fafb;
}
.agents .element {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 3fr));
}
.agents .element .card {
    width: 350px;
    padding: 20px;
    text-align: center;
    background-color: #FFF;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #1118277e;
    text-transform: capitalize;
    color: #16a34a;
    margin: 10px auto;
}
.agents .element .card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.agents .element .card h3 {
    color: #111827;
    margin-top: 20px;
}
.agents .element .card p {
    margin: 5px auto;
    /* background-color: #111827; */
}
.agents .element .card span {
    color: #4b5563;
    background-color: #f3f4f6;
    border-radius: 15px;
    padding: 5px 10px;
}
.agents .element .card #but {
    padding: 20px 0px;
    justify-content: space-between;
}
.agents .element .card #contact {
    padding: 20px 0px;
    justify-content: space-around;
    border-top: 1px solid #4b5563;
}
.agents .element .card #contact a {
    text-transform: capitalize;
    margin-right: 20px;
    color: #16a34a;
}
.agents .element .card #contact a i {
    margin-right: 5px;
}
/* footer */
.footer {
    width: 100%;
    padding: 100px 0px;
    background-color: #111827;
    color: #fff;
}
.footer .element {
    display: flex;
    justify-content: center;
}
.footer .element .card {
    padding: 10px;
    width: 300px;
}
.footer .element .card img {
    width: 150px;
    height: 50px;
}
.footer .element .card ul {
    list-style: none;
}
.footer .element .card ul a {
    color: #F5f5f5;
    text-transform: capitalize;
    text-decoration: none;
}
.footer .element .card ul i {
    margin-right: 5px;
}
.footer .element .card h2 {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.footer .element .card #social {
    display: flex;
    margin-top: 10px;
}
.footer .element .card form {
    width: 100%;
}
.footer .element .card form input {
    width: 90%;
    padding: 15px;
    outline: 0;
    border: 0;
    margin: 10px 0px;
    background-color: #6b72805d;
}
.footer .element .card input::placeholder {
    text-transform: capitalize;
    color: #f5f5f5;
}
.footer .element .card form button {
    padding: 15px;
    width: 100%;
    outline: 0;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    background: #ffdfdf;
}

/* back to top */
.totop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 2;
    display: none;
}
.totop a {
    background-color: #16a34a;
    color: #fff;
    padding: 15px 15px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: .2s ease-in;
}
.totop a:hover {
    background-color: #16a34ad9;
}

/* preloader */
#preloader {
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    bottom: 0;
}
.loader{
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0,0,0);
    animation: loader 1.2s infinite ease-in-out;

    span {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #ee4040;
        animation: loaderBlock 1.2s infinite ease-in-out both;

        &:nth-child(1) {
            top: 0;
            left: 0;
        }
        &:nth-child(2) {
            top: 0;
            right: 0;
            animation: loaderBlockInverse 1.2s infinite ease-in-out both;
        }
        &:nth-child(3){
            bottom: 0;
            left: 0;
            animation: loaderBlockInverse 1.2s infinite ease-in-out both;
        }
        &:nth-child(4) {
            bottom: 0;
            right: 0;
        }
    }
}
@keyframes loader{
    0%, 10%, 100% {
        width: 80px;
        height: 80px;
    }
    65% {
        width: 150px;
        height: 150px;
    }
}
@keyframes loaderBlock {
    0%, 30% {
        transform: rotate(0);
    }
    55% {
        background-color: #f37272;
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes loaderBlockInverse {
    0%, 20% {
        transform: rotate(0);
    }
    55% {
        background-color: #f37272;
    }
    100% {
        transform: rotate(-90deg);
    }
}



/* for dark mode */
body.darkm {
    background-color: #111827;
    color: #fff;
}
body.darkm .top{
    background-color: #111827;
}
body.darkm .prop .element .card {
    background-color: #FFF;
}













/* tablet view */
@media screen and (max-width:1100px) {
    .container {
        margin: 0px 50px;
    }
    .top .element .nav {
        transition: .2s ease-in;
        transform-origin: 0px;
        height: 0px;
        display: none;
    }
    .top .element .nav.show {
        display: block;
        position: absolute;
        background-color: #f5f5f5;
        top: 60px;
        right: 0px;
        width: 100%;
        height: 130%;
        padding: 20px 0px;
    }
    .top .element .nav.show ul {
        flex-direction: column;
    }
    .top .element #toggle {
        display: block;
    }
    .bg .text{
        width: 100%;
    }




}







/* mobile view */
@media only screen and (max-width:600px ) {
    .container {
        margin: 0px 20px;
    }
    .top .element .but {
        display: none;
    }
    .top .element .but.sun {
        display: block;
        position: absolute;
        margin-top: 100px;
        right: 0px;
    }
    
    .bg .text {
        margin-top: -50px;
    }
    .bg .text .opt form {
        display: block;
    }
    .bg .text .opt form #search {
        margin-top: -20px;
    }
    .bg .text .stat {
        display: none;
    }
    .st .element {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .prop .element {
        grid-template-columns: auto;
    }
    .agents .element {
        grid-template-columns: auto;
    }
    .card {
        margin: auto;
    }
    .footer .element {
        display: block;
    }




}
